
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    text-rendering: optimizeLegibility;
    line-height: $base-line-height;
    color: $text-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


a {
    color: cornflowerblue;
    text-decoration: none;
    &:hover {
        color: $text-color;
    }
}

p {
    margin-bottom: 1em;
    font-weight: 300;
    background: transparent;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $head-font-family;
}

.mainbox {
    font-family: inherit;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    margin: 0 auto;
    max-width: 1200px;
}

.card {
    width: 300px;
    box-shadow: 0px 0px 1px #777;
    border-radius: 2px;
    margin: 20px;
    text-align: center;
    transition: 0.2s ease-in;
    position: relative;
    &:hover {
       box-shadow: 0px 0px 15px #aaa; 
    }
}

img.post-image-index {
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
}

img {
    max-width: 100%;
    vertical-align: middle;
}



.post-index-title {
    border-bottom: 1px solid #eee;
    color: #383838;
    font-size: 0.9em;
    color: #777;
    font-family: $head-font-family;
    font-weight: bold;
    margin: 5px 0 !important;
}

.post-excerpt {
    font-size: 1em;
    font-size: 18px;
    color: #8C8C8C;
    margin: 0 0 5px 0 !important;
}
.card-footer {
    padding: 0 5px;
}

.site-title {
    font-size: 2.5em;
    font-weight: 600;
    margin-right: 2em;
    line-height: 0;
    display: inline-block;
    a {
        color: #555;
    }
    @include media-query($on-palm) {
        margin: 0;
        display: block;
        font-size: 3em;
        text-align: center;
    }
}

.page-container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 $spacing-unit;
    @include media-query($on-palm) {
         padding: 0;
    }
}

.page-image {
    width: 100%;
}

.page-header {
    height: 300px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.page-content {
    @include media-query($on-palm) {
        padding: 0 $spacing-unit;
    }
}


.nav-next-post {
    float: right;
    border-bottom: 1px solid $accent;
     &:hover {
       border-bottom: 1px solid $text-color; 
    }
    @include media-query($on-palm) {
        float: none;
    }
}

.nav-previous-post {
    float: left;
    border-bottom: 1px solid $accent;
    &:hover {
       border-bottom: 1px solid $text-color; 
    }
    @include media-query($on-palm) {
        float: none;
    }
}

.page-title {
    font-size: 2.2em;
    @include media-query($on-palm) {
        font-size: 1.5em;
    }
}

.date {
    color: #777;
    display: inline-block;
}



/* #search-container {
    width: 30%;
    display: inline-block;
    float: right;
        @include media-query($on-palm) {
         width: 80%;
         float:none;
            margin-top: 0.6em;
    }
}

#search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
 */
.index-header {
    max-width: 75%;
    margin: 1em auto;
    @include media-query($on-palm) {
        text-align: center;
    } 
    
}

.post-categories {
    display: inline-block;

}
